name: Tests

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'tests/**'
      - 'pnpm-lock.yaml'
      - '.github/workflows/tests.yml'
  pull_request:
    paths:
      - 'src/**'
      - 'tests/**'
      - 'pnpm-lock.yaml'
      - '.github/workflows/tests.yml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest

    env:
      PLAYWRIGHT_BROWSERS_PATH: 0

    steps:
      - uses: actions/checkout@v4.2.2
      - uses: pnpm/action-setup@v4.0.0
        with:
          version: 9
          run_install: false

      - uses: actions/setup-node@v4.1.0
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Type Check
        run: pnpm ts

      - name: Install Playwright browsers
        run: pnpm exec playwright install --with-deps

      - name: Run e2e tests
        run: |
          pnpm build
          pnpm test:ci-e2e

      - name: Run unit tests
        run: pnpm test:ci

      - name: Coverage
        uses: davelosert/vitest-coverage-report-action@v2.8.0
        if: ${{ always() }}
