name: Tests
permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "tests/**"
      - "pnpm-lock.yaml"
      - ".github/workflows/tests.yml"
  pull_request:
    paths:
      - "src/**"
      - "tests/**"
      - "pnpm-lock.yaml"
      - ".github/workflows/tests.yml"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        browser: [webkit, firefox, chromium]

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
          run_install: false

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 22
          cache: "pnpm"

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-${{ matrix.browser }}-playwright-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Type Check
        run: pnpm ts

      - name: Run unit tests
        run: pnpm vitest run --coverage

      - run: pnpm exec playwright install --with-deps ${{ matrix.browser }}
        if: steps.playwright-cache.outputs.cache-hit != 'true'

      - run: pnpm exec playwright install-deps ${{ matrix.browser }}
        if: steps.playwright-cache.outputs.cache-hit == 'true'

      - name: Build
        run: pnpm vite build

      - name: Run e2e tests
        run: pnpm playwright test --project="${{ matrix.browser }}"

      - name: Coverage
        uses: davelosert/vitest-coverage-report-action@8ab049ff5a2c6e78f78af446329379b318544a1a # v2.8.3
        if: ${{ matrix.browser == 'webkit' && success() }}
